*.pyc
*.DS_Store
*~
build/
dist
dist/*
*.egg-info
*.iml
.idea
.coverage
examples/.ipynb_checkpoints
examples/state.png
.tox
.python-version
MANIFEST
*.bak
pylint.log
test.py
db.sqlite3
db.sqlite3.1
db.sqlite3.backup.12.01.207
db.sqlite31
