<div id="custom_data_to_append" style="display:none;">
<div class="row"><div class="control-group field-entrance"><div class="col-md-12 form-group "><div class="control-label col-md-3"><label>Google Maps:</label></div><div class="controls col-md-9"><p><a href="{{original.entrance.google_maps}}" target="_blank">Линк към картата</a></p></div></div></div></div><div class="row"><div class="control-group field-entrance"><div class="col-md-12 form-group "><div class="control-label col-md-3"><label>Формиране на таксата:</label></div><div class="controls col-md-9">{{original.entrance.tax_form|safe}}</div></div></div></div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.fields').append(jQuery('#custom_data_to_append').html());
    });
</script>
